<h1>Editing Financial Responsible</h1>

<%= render 'form', financial_responsible: @financial_responsible %>

<%= link_to 'Show', @financial_responsible %> |
<%= link_to 'Back', financial_responsibles_path %>
