<h1>Olá!</h1>

<p>
  Você recebeu este email através do portal Aliança Cultural. Sua matrícula acabou de ser registrada em nosso sistema.
</p>
<p>
  Abaixo seguem suas credencias de acesso:
</p>
<p>
  Email: <strong><%= @user %></strong>
</p>
<p>
  Senha: <strong><%= @password %></strong>
</p>
<p>
  <a href="http://portal.aliancacultural.com/users/sign_in" target="_blank">Clique aqui e acesse nosso portal.</a>
</p>
<p>
  Sugerimos alterar a senha após o primeiro acesso.
</p>
