<h1>Olá!</h1>

<p>
  Você recebeu este emil através do portal Aliança Cultural. Sua matrícula acabou de ser registrada em nosso sistema.
</p>
<p>
  Abaixo seguem suas credencias de acesso:
</p>
<p>
  Email: <strong><%= @user %></strong>
</p>
<p>
  Senha: <strong><%= @password %></strong>
</p>
<p>
  Sugerimos alterar a senha após o primeiro acesso.
</p>
