<!-- Main Content -->
<main>
  <section>
    <h1>Bem vindo(a)!</h1>
    <p>Este é o seu espaço em nossa ferramenta de aprendizagem. 
      Utilize as opções do meu para cadastrar ou atualizar o seu perfil.
      Caso tenha dúvidas ou dificuldades, entre em contato através de 
      nossos canais de atendimento.
    </p>
    <h2>Atendimento</h2>
    <div class="container-flex">
      <div>
        <p><span class="material-icons-sharp">alarm_on</span> Segunda a Sexta: 8h às 21h</p>
        <p><span class="material-icons-sharp">alarm_on</span> Sábados: 8h às 16h</p>
      </div>
      <div>
        <p><a href="https://api.whatsapp.com/send?phone=5521969799697"><span class="material-icons-sharp">phone_iphone</span> +55 21 96979 9697</a></p>
        <p><a href="mailto:corporate@aliancacultural.com"><span class="material-icons-sharp">mail</span> corporate@aliancacultural.com</a></p>
      </div>
    </div>
  </section>
</main>
<!-- End of Main Section -->
