<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @idiom_level.name %>
</p>

<%= link_to 'Editar', edit_backoffice_idiom_level_path(@idiom_level) %> |
<%= link_to 'Voltar', backoffice_idiom_levels_path %>
