<h1>Editing Adress</h1>

<%= render 'form', adress: @adress %>

<%= link_to 'Show', backoffice_person_adress_path(@person, @adress) %> |
<%= link_to 'Back', backoffice_person_adresses_path(@person) %>
