<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

      body {
        font-family: 'Poppins', sans-serif;
        color: #363949;
        font-size: 1rem;
        background-color: #f6f6f9;
      }
    </style>
  </head>

  <body>
    <img class="logo-img" src="https://aliancacultural.com/wp-content/uploads/2020/08/ALIANCA-CULTURAL-LOGO-152x152-1.png" alt="Logotipo da Aliança Cultural Idiomas." width="150px" />  
    <%= yield %>
  </body>
</html>
