<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, user-scalable=5"/>
        <meta name="robots" content="index,follow">
        <meta name="keywords" content="curso de inglês, curso de espanhol, curso de francês, curso de idiomas">
        <meta name="description" content="Cursos de idiomas para todos.">
        <link rel="stylesheet" type="text/css" href="/assets/stylesheets/stylesheet.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp">
        <title>Aliança Cultural Idiomas | Aprenda um Novo Idioma!</title>
    </head>
    <body>
        <div class="container-header">
            <div>
                <img src="/assets/images/logo_alianca_cultural.png" alt="Logotipo da Aliança Cultural Idiomas." />
            </div>
            <div class="menu">
                <nav>
                    <div class="menuMobile">
                        <span class="material-icons-sharp">menu</span>
                    </div>
                        <ul>
                            <li><a href="/"><span class="material-icons-sharp">roofing</span> Site</a></li>
                            <li><a href="#"><span class="material-icons-sharp">support_agent</span> Agende uma demonstração</a></li>
                            <li><a href="#"><span class="material-icons-sharp">login</span> Login</a></li>
                        </ul>
                </nav>
            </div>
        </div>
        <section class="container-section">
            <div>
                <picture>
                    <source media="(max-width: 656px)" srcset="/assets/images/home_alianca_cultural_p.png" type="image/png">
                    <img class="anchor-img" src="/assets/images/home_alianca_cultural.png" alt="Imagem de estudantes da Aliança Cultural."/>
                </picture>  
            </div>
            <div>
                <h1>
                    Transforme sua vida através de um novo idioma!
                </h1>
                <p>
                    A Aliança Cultural Idiomas nasce da paixão pelo aprendizado de idiomas e de todas 
                    as pontes que esse conhecimento constrói. Independentemente do motivo que leva a 
                    aprender uma nova língua, essa pessoa nunca mais será “do mesmo tamanho”, pois 
                    entra em contato com novas culturas, novas percepções e isso amplia sua visão 
                    de mundo, contribui positivamente para seu desenvolvimento pessoal e cognitivo,
                    ajuda na autoestima, além de trazer muitas novas oportunidades pessoais e profissionais.
                </p>
                <div class="container-section">
                    <div>
                        <button type="button" onclick="location.href = 'www.yoursite.com';" class="login-btn">Fazer login</button>
                    </div>
                    <div>
                    <button type="button" onclick="location.href = 'www.yoursite.com';" class="call-btn">Agendar demonstração</button>
                    </div>
                </div>
            </div>
        </section>
        <footer>
            <div class="container-footer">
                <div>
                    <img class="logo-img" src="/assets/images/logo_alianca_cultural.png" alt="Logotipo da Aliança Cultural Idiomas." width="150px" />
                </div>
                <div>
                    <h3>Atendimento</h3>
                    <p><a href="https://api.whatsapp.com/send?phone=5521969799697"><span class="material-icons-sharp">phone_iphone</span> +55 21 96979-9697</a></p>
                    <p><a href="mailto:corporate@aliancacultural.com"><span class="material-icons-sharp">mail</span> corporate@aliancacultural.com</a></p>
                    <p><span class="material-icons-sharp">alarm</span> Segunda à Sexta: 8h às 21h</p>
                    <p><span class="material-icons-sharp">alarm</span> Sábados: 8h às 16h</p>
                </div>
                <div>
                    <h3>Conecte-se</h3>                        
                </div>
            </div>            
        </footer>
    </body>
</html>