<p>Olá!</p>

<p>Você recebeu este email através da solicitação de redefinição de senha no portal Aliança Cultural. 
Você pode cadastrar uma nova senha acessando o link abaixo.</p>

<p><%= link_to 'Alterar minha senha.', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Caso você não tenha feito esta solicitação, ignore este email.</p>
<p>Sua senha não irá mudar até que acesse o link acima e cadastre uma nova senha.</p>
