<p>Olá!</p>

<p>Você recebeu este email através do portal Aliança Cultural. Sua conta foi suspensa momentaneamente devido
ao número de tentativas de acesso malsucedidas.</p>

<p>Clique no link abaixo para reativar sua conta:</p>

<p><%= link_to 'Reativar minha conta.', unlock_url(@resource, unlock_token: @token) %></p>
